{% extends 'base.html.twig' %}

{% block title %}CT - Rappel{% endblock %}

{% block body %}
    <h1>Rappel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ reminder.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ reminder.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reminder.description }}</td>
            </tr>
            <tr>
                <th>Créée le</th>
                <td>{{ reminder.createdAt ? reminder.createdAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date limite</th>
                <td>{{ reminder.dueDate ? reminder.dueDate|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            {% if reminder.completedAt %}
            <tr>
                <th>Terminé le</th>
                <td>{{ reminder.completedAt|date('d-m-Y H:i:s') }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Terminé ?</th>
                <td>{{ reminder.isDone ? 'Terminé' : 'À faire' }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ reminder.category ? reminder.category.name : 'Aucune catégorie' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reminder_index') }}">Retour aux rappels</a>

    <a href="{{ path('app_reminder_edit', {'id': reminder.id}) }}">Modifier</a>

    {{ include('reminder/_delete_form.html.twig') }}
{% endblock %}
