{% extends 'base.html.twig' %}

{% block title %}CT - Détails du rappel{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="bg-white rounded-lg px-8 pt-6">
                <h1 class="text-3xl font-bold mb-6 text-gray-800 border-b pb-4">Détails du rappel</h1>
            </div>
            <div class="px-8 pb-6">
                <div class="mb-4">
                    <span class="font-bold">Nom:</span>
                    <span>{{ reminder.title }}</span>
                </div>
                <div class="mb-4">
                    <span class="font-bold">Description:</span>
                    <span>{{ reminder.description }}</span>
                </div>
                <div class="mb-4">
                    <span class="font-bold">Créée le :</span>
                    <span>{{ reminder.createdAt ? reminder.createdAt|date('d-m-Y H:i:s') : '' }}</span>
                </div>
                <div class="mb-4">
                    <span class="font-bold">Date limite :</span>
                    <span>{{ reminder.dueDate ? reminder.dueDate|date('d-m-Y H:i:s') : '' }}</span>
                </div>
                {% if reminder.completedAt %}
                <div class="mb-4">
                    <span class="font-bold">Status :</span>
                    <span>Terminé le {{ reminder.completedAt|date('d-m-Y H:i:s') }}</span>
                </div>
                {% endif %}
                <div class="mb-4">
                    <span class="font-bold">Status :</span>
                    <span>{{ reminder.isDone ? 'Terminé' : 'À faire' }}</span>
                </div>
                <div class="mb-4">
                    <span class="font-bold">Catégorie :</span>
                    <span>{{ reminder.category ? reminder.category.name : 'Aucune catégorie' }}</span>
                </div>
            </div>
            <a href="{{ path('app_reminder_index') }}" class="inline-flex items-center justify-center w-full px-4 py-2 bg-gray-100 text-gray-700 rounded-md hover:bg-gray-200 transition-colors duration-200">
                    ◄ Retour aux rappels
                </a>
        </div>
    </div>
{% endblock %}